.teamSection {
    margin: 5rem 0;
    padding: 0 4rem;
}

.teamMembersContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}

.teamMember {
    height: 17rem;
    width: 18%;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.teamMember div {
    background: var(--light-10);
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}

.teamMember h3 {
    font-size: 24px;
    font-weight: 600;
}

.teamMember p {
    font-size: 18px;
    font-weight: 500;
    color: #d9d9d9;
}