@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.heroSection {
    height: calc(100vh - 100px);
    width: 60%;
    margin: auto;
    margin-bottom:2rem;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.heroSection .heroMaintext {
    font-size: 5rem;
    background: linear-gradient(95.33deg, #AD8CF8 11.46%, #9B73F7 16.35%, #8D5FF6 21.24%, #7770E2 26.14%, #7178DB 31.03%, #6288CB 35.92%, #5E8DC7 40.81%, #509CB9 45.7%, #529ABA 50.59%, #43AAAC 55.48%, #37B89F 60.37%, #2AC591 65.27%, #20D386 70.16%, #30C197 75.05%, #32BD99 79.94%, #318B86 84.83%, #49A3B2 89.72%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    font-weight: 900 !important;
    letter-spacing: 2px;
}

.heroTagline {
    font-weight: 600;
    font-size: 1.8rem;
}

.heroSection .timerContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.colon {
    font-size: 3.5rem;
}

.heroSection .timerContainer .timerBox {
    flex-basis: 100%;
    background: var(--greyColor);
    padding: 0.5rem 1.5rem;
    color: var(--light-10);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.timerBox .number {
    font-weight: 900;
    font-size: 2rem;
}

.timerBox .unit {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/* MEDIA QUERY */

@media only screen and (max-width:1200px) {
    .heroSection {
        width: 90%;
    }

    .heroSection .heroMaintext {
        font-size: 4.5rem;
    }
}

@media only screen and (max-width:600px) {
    .heroSection .heroMaintext {
        font-size: 3.5rem;
    }

    .heroTagline {
        font-size: 1.4rem;
    }

    .heroSection .timerContainer {
        gap: 10px;
    }
    .heroSection .timerContainer .timerBox {
        padding: 10px;
    }

    .timerBox .number {
        font-size: 1.2rem;
    }

    .colon {
        font-size: 2.5rem;
    }

    .timerBox .unit {
        font-size: 1rem;
    }
}

@media only screen and (max-width:400px) {
    .heroSection .heroMaintext {
        font-size: 2.8rem;
    }

    .heroTagline {
        font-size: 1.2rem;
    }

    .heroSection .timerContainer {
        gap: 6px;
    }

    .timerBox .number {
        font-size: 1rem;
    }

    .timerBox .unit {
        font-size: 1rem;
    }
}