@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.heroSection {
    height: calc(100vh - 100px);
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom:6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

.heroSection .heroMaintext {
    background: linear-gradient(95.33deg, #AD8CF8 11.46%, #9B73F7 16.35%, #8D5FF6 21.24%, #7770E2 26.14%, #7178DB 31.03%, #6288CB 35.92%, #5E8DC7 40.81%, #509CB9 45.7%, #529ABA 50.59%, #43AAAC 55.48%, #37B89F 60.37%, #2AC591 65.27%, #20D386 70.16%, #30C197 75.05%, #32BD99 79.94%, #318B86 84.83%, #49A3B2 89.72%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}

.heroMaintext{
    font-family: "Roboto Slab" ,serif;
    font-weight: 900 !important;
    letter-spacing: 2px;
    font-size: 124px;
    line-height: 133px;
}

.heroTagline {
    font-weight: 600;
    font-size: 1.8rem;
}

.heroSection .timerContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.colon{
    font-size: 96px;
    display: flex;
}

.heroSection .timerContainer .timerBox {
    flex-basis: 100%;
    background: var(--greyColor);
    padding: 14px;
    color: var(--light-10);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.timerBox{
    padding: 25px 35px  !important;
}

.timerBox .number {
    font-weight: 900;
    font-size: 48px;
}
.timerBox .unit {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 1px;
}