.roadmapSection {
    padding: 4rem;
    background: linear-gradient(180deg, rgb(8, 48, 32), rgb(3, 75, 9))
}

.vertical-timeline-element--work h1 {
    margin-bottom: 2rem;
    color: var(--blueColor);
    font-size: 2rem;
}

.vertical-timeline-element--work h3 {
    margin-bottom: 12px;
    font-size: 1.2rem;
}

.vertical-timeline-element--work p {
    margin-bottom: 1.4rem;
    font-size: 1.1rem;
}

.vertical-timeline-element-content-arrow {
    display: none;
}

.vertical-timeline-element-content {
    box-shadow: none;
}

.lastDot {
    top: 20px;
}

.Dot1 {
    top: -40px;
}

.leftImage {
    position: absolute;
    left: -135%;
}

.rightImage {
    position: absolute;
    right: -135%;
}

.Q1 {
    width: 100%;
    text-align: justify;
}

.Q2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: justify;
    width: 100%;
}

.Q2 h3 {
    text-align: right;
}

.vertical-timeline-element-icon {
    box-shadow: none;
}

/* MEDIA QUERY */

@media only screen and (max-width:600px) {
    .roadmapSection {
        padding: 4rem 1rem;
    }
}

@media only screen and (max-width:1170px) {
    .Q2 {
        align-items: flex-start;
    }

    .Q2 h3 {
        text-align: left;
    }

    .lastDot {
        top: 48px;
    }
}