.roadmapSection {
    padding: 4rem;
    background: linear-gradient(180deg, rgb(8, 48, 32), rgb(3, 75, 9));
}

.dot-1{
    top: -40px;
}

.vertical-timeline-element--work h1 {
    margin-bottom: 2rem;
    color: var(--blueColor);
    font-size: 2rem;
}

.vertical-timeline-element--work h3 {
    margin-bottom: 12px;
    font-size: 1.2rem;
}

.vertical-timeline-element--work p {
    margin-bottom: 1.4rem;
    font-size: 1.1rem;
}

.vertical-timeline-element-content-arrow {
    display: none;
}

.vertical-timeline-element-content {
    box-shadow: none;
}

.vertical-timeline-element-icon{
    box-shadow: none;
}

.leftImage {
    position: absolute;
    left: -45rem;
}

.rightImage {
    position: absolute;
    right: -45rem;
}

/* MEDIA QUERY */

@media only screen and (max-width:600px) {
    .roadmapSection {
        padding: 4rem 1rem;
    }
}