.airdropSection p {
    line-height: 2rem;
}

.nextBtnDiv {
    display: flex;
    align-items: center;
}

.nextBtnDiv span {
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}

.nextBtnDiv span:hover,
.nextBtnDiv img:hover {
    background-image: linear-gradient(270deg, #9F7EF6 0%, #6E89D3 16.67%, #5598BD 33.33%, #3BB5A3 50%, #529CBA 66.67%, #7089D4 83.33%, #8D82EA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nextBtnDiv img {
    height: 1rem;
    width: 5rem;
    margin-left: 1rem;
}

/* MEDIA QUERY */

@media only screen and (max-width:900px) {
    .nextBtnDiv span {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:600px) {
    .airdropSection p {
        font-size: 14px;
        line-height: 1.6rem;
    }

    .nextBtnDiv span {
        font-size: 1.2rem;
    }

    .nextBtnDiv img {
        height: 0.6rem;
        width: 3rem;
    }
}