.tokenSaleDetailsSection {
    /* margin: 5rem 0;
    padding: 0 4rem; */
    display: flex;
    flex-direction: column;
}

.tokenSaleHeadContainer {
    background-color: var(--green-10);
    padding: 1.2rem;
}

.tokenDetailsContainer{
    font-size: 1.2rem;
    background: var(--green-20);
    border-top:1px solid var(--green-10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem;
}

@media only screen and (max-width:450px) {
    .tokenDetailsContainer {
        font-size: 1rem;
        padding: 1.5rem 0.5rem;
    }
}