.footerSection {
    padding: 3rem 3rem 1rem;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
}

.footerContainer span {
    width: 15%;
    min-width: 13rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.socialMediaIcons img {
    height: 2.2rem;
    width: 2.2rem;
}

.socialMediaIcons img:hover {
    filter:drop-shadow(5px 5px 10px white)
}

.footerSection p {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

/* MEDIA QUERY */

@media only screen and (max-width:600px) {
    .footerSection {
        padding: 3rem 1rem 1rem;
    }

    .footerContainer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footerSection p {
        padding: 0;
        margin-top: 3rem;
    }
}