.hightlightsMainContainer {
    display: flex;
    gap: 2.5rem;
}

.hightlightsContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.fundContainer {
    background: var(--green-30);
    width: 40%;
    position: relative;
}

.hightlight {
    background: var(--green-20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 16px;
    cursor: pointer;
}

.hightlightsContainer .arrowWrapper {
    height: 1.5rem;
    background: var(--light-10);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.highlightInfo {
    padding: 1rem;
    background: var(--lightGrey);
    color: black;
}

.highlightInfo h3 {
    display: inline;
    margin-bottom: 1rem;
}

.highlightInfo span {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/* FUND RAISE  */

.fundInfo {
    padding: 2rem;
}

.fundInfo h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.fundInfo h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.fundInfo h2 {
    font-size: 2rem;
}

.tokenSale {
    text-align: center;
    margin-top: auto;
    font-size: 1.3rem;
    font-weight: 600;
    background: rgb(20, 51, 56);
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* MEDIA QUERY */

@media only screen and (max-width:768px) {
    .hightlightsMainContainer {
        flex-direction: column;
    }

    .hightlightsContainer,
    .fundContainer {
        width: 100%;
    }

    .fundInfo {
        padding-bottom: 5rem;
    }
}

@media only screen and (max-width:320px) {
    .fundInfo h1 {
        font-size: 2rem;
    }
}