@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
  --green-10: #25835B;
  --green-20: #1D4C38;
  --green-30: #23483B;
  --green-40: #012A18;

  --lightGrey: #858585;
  --greyColor: #4F675F;

  --blueColor: #0EABF1;
  --darkBlue: #111A72;

  --light-10: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: var(--green-40);
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

.section {
  margin: 5rem 0;
  padding: 0 4rem;
}

.heading {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.downloadBtnDiv img {
  height: 1.1rem;
}

.downloadBtn {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  background: transparent;
  color: var(--light-10);
  border: 2px solid var(--light-10);
  display: flex;
  gap: 12px;
  outline: none;
  cursor: pointer;
  margin: 3rem auto;
}

.document {
  height: 70vh;
  width: 100%;
  margin-bottom: 1.5rem;
}

.document img {
  object-fit: contain;
}

/* MEDIA QUERY */

@media only screen and (max-width:1200px) {
  .document {
    width: 100%;
  }
}

@media only screen and (max-width:900px) {
  .section {
    padding: 0 2rem;
    text-align: justify;
  }
}

@media only screen and (max-width:600px) {
  .section {
    padding: 0 1rem;
  }

  .heading {
    text-align: center;
  }
}